@model Product
@{
    Layout = null;
}

<div class=" product container">
    <div class="row">
        <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="picture" src="@Model.Image">
        </div>
        <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="name">
                <a href="@Model.Link"><p>@Model.Name</p></a>
            </div>
            <div class="setting">
                <div class="row col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-@Model.Id">Настройки</button>
                </div>
            </div>
        </div>

        <div class="row col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="price"><p><b>Цена @Model.History[Model.History.Count - 1].Price &#8381</b></p></div>
            <div class="dyn">
                <button type="button" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-2-@Model.Id">Динамика</button>
            </div>
            <div class="unsub">
                <a asp-action="StopMonitoringProduct" asp-controller="PersonalCabinet" 
                   asp-all-route-data='new Dictionary<string,string>{{"Sender", "PersonalCabinet"}, {"Id", @Model.Id}, {"page", Convert.ToString(ViewBag.CurrentPage)} }' >
                <button type="button" class="btn-1 btn btn-danger">Удалить</button></a>
            </div>
        </div>
    </div>
</div>