@model NotificationSettingsModel
@{
    Layout = null;
    string RequestName;
    if (ViewBag.RequestName == null)
    {
        RequestName = Model.Product.Name;
    }
    else
    {
        RequestName = ViewBag.RequestName;
    }
}



    <div class=" product container">
        <div class="row">
            <div class="row col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img class="picture" src="@Model.Product.Image">
            </div>
            <div class="row col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="name">
                    <a href="@Model.Product.Link"><p>@Model.Product.Name</p></a>
                </div>
                <div class="btnsave">
                    <div class="row col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
                    <div class="row col-lg-2 col-md-2 col-sm-2 col-xs-2">
                           <input type="hidden" value="@Model.Product.Id" name="id" />
                            @if (@Model.NotificationSettings == null)
                            {
                                <input id="button-@Model.Product.Id" type="submit" value="Добавить к отслеживанию" class="btn btn-info">
                            }
                            else
                            {
                                <a asp-action="StopMonitoringProduct" asp-controller="PersonalCabinet" asp-all-route-data='new Dictionary<string,string>{{"Sender", "Main"}, {"Id", @Model.Product.Id}, { "Name", @RequestName} }'><input id="button-@Model.Product.Id" type="button" value="Прекратить отслеживание" class="btn btn-info"></a>
                            }

                    </div>
                </div>
            </div>
            <div class="row col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="price"><p><b>Цена @Model.Product.History.Price &#8381</b></p></div>
                <div class="settings">
                    <button type="button" id="ModalButton-@Model.Product.Id" class="btn-1 btn btn-info" data-toggle="modal" data-target="#modal-@Model.Product.Id"> Настройки </button>
                </div>
            </div>
        </div>
    </div>




