@{
    ViewData["title"] = "Авторизация";
    var loginModel = new LoginModel();
    var registerModel = new RegisterModel();
}

<body>
<div class="container autreg">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Авторизация</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Регистрация</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" asp-action="Login" asp-controller="Account" asp-antiforgery="true" method="post" role="form" style="display: block;">
                                <div class="validation" asp-validation-summary="ModelOnly"></div>
                                <div class="form-group">
                                    <input type="text" asp-for="@loginModel.Email" name="Email" id="username" tabindex="1" class="form-control" placeholder="Email">
                                    <span asp-validation-for="@loginModel.Email" />
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="@loginModel.Password" name="Password" id="password" tabindex="2" class="form-control" placeholder="Пароль">
                                    <span asp-validation-for="@loginModel.Password" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Войти">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" asp-action="Register" asp-controller="Account" asp-antiforgery="true" method="post" role="form" style="display: none;">
                                <div class="validation" asp-validation-summary="ModelOnly"></div>
                                <div class="form-group">
                                    <input type="text" asp-for="@registerModel.Name" name="Name" id="username" tabindex="1" class="form-control" placeholder="Введите имя" value="">
                                    <span asp-validation-for="@registerModel.Name" />

                                </div>
                                <div class="form-group">
                                    <input type="email" asp-for="@registerModel.Email" name="Email" id="email" tabindex="1" class="form-control" placeholder="Введите электронную почту" value="">
                                    <span asp-validation-for="@registerModel.Email" />
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="@registerModel.Password" name="Password" id="password" tabindex="2" class="form-control" placeholder="Введите пароль">
                                    <span asp-validation-for="@registerModel.Password" />
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="@registerModel.ConfirmPassword" name="ConfirmPassword" id="confirm-password" tabindex="2" class="form-control" placeholder="Подтвердите пароль">
                                    <span asp-validation-for="@registerModel.ConfirmPassword" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-login" value="Зарегистрироваться">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
$(function() {

    $('#login-form-link').click(function(e) {
    	$("#login-form").delay(100).fadeIn(100);
 		$("#register-form").fadeOut(100);
		$('#register-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
	$('#register-form-link').click(function(e) {
		$("#register-form").delay(100).fadeIn(100);
 		$("#login-form").fadeOut(100);
		$('#login-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});

});
</script>
</body>	
